.DS_Store
/resources
/content/blog/Second_Hand_Drive.md
/static/assets/img/blog_images/second_hand_drive/FTK.png
/static/assets/img/blog_images/second_hand_drive/PhotoRec.png
/static/assets/img/blog_images/second_hand_drive/Sorted_properties.png