@-ms-viewport{
  width: device-width;
  height: device-height;
}
body{
	background-image: url("/assets/backgrounds/Beach_Feet.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Rubik', sans-serif;
	color: black;
}
.center_box {
	position: relative;
 	margin: auto;
	width: 60%;
	padding: 5%;	
	text-align:center;
	color: white;
}
.icon{
	width:auto;
	height:25%;
}
.social_links img{
	padding:2%;
	width:auto;
	height: 5%;
}
.locate_me{
	display: flex;
	align-items: center;
	justify-content: center;
}
#location_icon{
	padding-left:0.5%;
}
#heading{
	color:#e5559b
}