@-ms-viewport{
	width: device-width;
	height: device-height;
}
@media (prefers-color-scheme: light) {
	body {
	  background-color: #ffffff;
	  color: #000000;
	}
}
@media (prefers-color-scheme: dark) {
	body {
	  background-color: #535353;
	  color: #ffffff;
	}
}
body{
	font-family: 'Open Sans', sans-serif;
	color:white;
}
#markdown_contents{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    padding-bottom:1%;
    overflow: hidden;
}
#header{
	text-align: center;
	padding:0.1%;
}
#header p{
    color: #e5559b
}
.post{
    background-color: rgb(0,0,0,0.8);
}
.picture_card {
    padding: 1%;
	float: right;
}
#card_container {
	padding: 2px 16px;
	background-color: #e5559b;
}
#image{
    height: 70%;
    max-width: 100%;
	position: relative;
    object-fit: contain;
}