@-ms-viewport{
  width: device-width;
  height: device-height;
}
@media (prefers-color-scheme: light) {
	body {
	  background-color: #ffffff;
	  color: #000000;
  }
  .card{
    color: #000000;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  #date{
    color:#e5559b;
  }
}
@media (prefers-color-scheme: dark) {
	body {
	  background-color: #535353;
	  color: #ffffff;
  }
  .card{
    color: #ffffff;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  }
  #date{
    color:#e5559b;
  }
}
body{
  font-family: 'Open Sans', sans-serif;
}
.header {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.header h1{
  color: #e5559b;
}
.card{
  position: relative;
  padding:20px;
  margin-top:2%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 2%;
  font-size: 15px;
  text-align: left;
  border-width:3px;
  transition: all 200ms ease-out;
  height: auto;
  text-align: center;
}
.card:hover{
  box-shadow: 0 0 15px #e5559b;
}
#date{
  font-style: italic;
}
.p a{
  text-decoration: none;
  display:block;
}
a {
	text-decoration: none;
}
.footer{
  text-align: center;
  font-style: italic;
}
