@-ms-viewport{
	width: device-width;
	height: device-height;
}
body{
	background-image: url("/assets/img/backgrounds/beach.jpg");
	font-family: 'Rubik', sans-serif;
	color:white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.center_box {
	position: relative;
 	margin: auto;
	padding: 5%;	
	text-align:center;
}
#icon{
	width:auto;
	height:15%;
}
.locate_me{
	display: flex;
	align-items: center;
	justify-content: center;
}
.social_links img{
	padding:2%;
	width:auto;
	height: 5%;
}
#title{
	color: #ea7700;
}
#top_secret_location{
	padding-left: 0.3%;
}