@-ms-viewport{
	width: device-width;
	height: device-height;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
}
.center_box {
 	margin: auto;
	padding: 5%;	
	text-align:center;
	padding-bottom: 0%;
}
#smaller_icon{
	width:auto;
	height:15%;
	max-height: 105px;
}
.locate_me{
	display: flex;
	align-items: center;
	justify-content: center;
}
.social_links img{
	padding:2%;
	width:auto;
	height: 5%;
	max-height: 45px;
}
#title{
	color: #e5559b;
}
#top_secret_location{
	padding-left: 0.3%;
}